.newItem {
  padding: 0.3rem;
}
.newItem input {
  background-color: white;
  width: 100%;
  padding: 1rem 5rem;
  border: none;
  font-size: 24px;
}
input::placeholder {
  color: rgb(216, 208, 208);
}

.newItem input:focus {
  outline: none;
}
