.listToDo {
  list-style: none;
}
ul {
  display: block;
  margin-block: 1em 1em;
  margin-inline: 0px;
}
.listToDo li {
  font-size: 25px;
  border-bottom: 1px solid #ededed;
  margin: 10px;
  line-height: 2.5rem;
}
.listToDo li .toggle {
  width: 4rem;
  text-align: center;
  margin: auto 0;
  border: none;
}
.listToDo li label {
  word-break: break-all;
  padding: 15px;
}
.view button {
  margin-left: 18rem;
}
