.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}
.listItem {
  list-style: none;
}
.listItem li {
  display: inline;
}
.listItem li a {
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
.listItem li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}
.listItem li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}
button {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  line-height: 1rem;
}
span {
  color: gray;
  font-size: large;
}
.active span {
  margin-right: 10px;
}
.complet span {
  margin-left: 1.5rem;
}
